## 6. Installing Anaconda


### Notes:
- **Anaconda** is a distribution of Python for data science.
- Steps to Install:
1. Download from [Anaconda Official Website](https://www.anaconda.com/download)
2. Run installer and follow instructions.
3. Open **Anaconda Navigator** or **Anaconda Prompt**.
4. Verify installation using:
```bash
conda --version
```
- Anaconda comes with **Jupyter Notebook, Spyder, Conda, and many libraries** pre-installed.

## 1. Python Introduction


### Notes:
- Python is a **high-level, interpreted, object-oriented** programming language.
- Features:
- Easy to read and write (simple syntax)
- Open-source and cross-platform
- Large standard library
- Popular in **Data Analytics, Machine Learning, AI, and Web Development**,Devops
- First program in Python is usually `Hello, World!`
--latency issue becuse codes intrepreted line by line /

In [ ]:
### Code:
# python
print("Hello, World!")

Hello, World!

## 2. Variables and Constants


### Notes:
- **Variable:** A name that refers to a value stored in memory.
- Rules for variables:
- Must start with a letter or underscore.
- Cannot start with a number.
- Case-sensitive.
- **Constant:** Python does not have a true constant type. By convention, constants are written in **uppercase letters**.

In [ ]:
# python
x = 10  # variable
PI = 3.14159 # constant (by convention)

print("Variable x:", x)
print("Constant PI:", PI)

Variable x: 10
Constant PI: 3.14159

In [ ]:
x1 = 10  # variable (integer)
PI = 3.14159  # constant (by convention)

print("Variable x:", x1)
print("Constant PI:", PI)

Variable x: 10
Constant PI: 3.14159

In [ ]:
del print   # restores built-in print

## 3. Data Types


### Notes:
- **Numeric Types:** int, float, complex
- **Text Type:** str
- **Boolean Type:** bool (True/False)
- **Sequence Types:** list, tuple, range
-Arrays-unidimension
- **Set Types:** set, frozenset
- **Mapping Type:** dict----key value pairs-----{cities:[bengaluru,mumbai,kolkata,delhi]}

In [ ]:
x3= range(10)
x3

range(0, 10)

In [ ]:
# python
num = 5 # int
decimal = 3.14 # float
name = "Python" # string
is_easy = True # boolean
h=[4,7,9,'hi']#list
g=(2,5)

print(type(num), type(decimal), type(name), type(is_easy),type(h),type(g))

<class 'int'> <class 'float'> <class 'str'> <class 'bool'> <class 'list'> <class 'tuple'>

## 4. Array Implementation


### Notes:
- Python does not have a built-in array like C/Java.
- **Lists** can be used as arrays.
- For numeric operations, we can use the **array module** or **NumPy** (in Data Analytics).

In [ ]:
### Code:
# ```python
# Using list as array
arr = [10, 20, 30, 40]
print("List as array:", arr)


# Using array module
import array
arr2 = array.array('i', [6]) # 'i' means integer type,# 'f' for float,
print("Array module:", arr2)

List as array: [10, 20, 30, 40]
Array module: array('i', [6])

In [ ]:
# Using array module
import array
arr2 = array.array( 'i',[5,78]) # 'i' means integer type
print("Array module:", arr2)

Array module: array('i', [5, 78])

In [ ]:
### Practice Exercise:
# 1. Create a list with 5 numbers and print the first and last elements.
# 2. Create an array using the `array` module with integers and print it.


### Solutions:
# ```python
# Exercise 1
nums = [5, 10, 15, 20, 25]
# nums[3]
nums[:3]
#nums[0:2]

#print("First:", nums[0], "Last:", nums[-1])


# # Exercise 2
# import array
# arr3 = array.array('i', [2, 4, 6, 8, 10])
# print(arr3)

20

In [ ]:
nums = [5, 10, 15, 20, 25]
nums[0]

5

In [ ]:
nums[4]

25

In [ ]:
import array
arr3 = array.array('i', [2, 4, 6, 8, 10])
print(arr3)

array('i', [2, 4, 6, 8, 10])

## 5. File Methods


### Notes:
- Files allow reading and writing data.
- Modes:
- "r" → read
- "w" → write (overwrites)
- "a" → append
- "b" → binary
- Always close files after use (or use `with` statement).

In [ ]:
### Code:
# ```python
# Writing to a file
with open("sample.txt", "w") as f:
  f.write("Hello, this is a sample file.\n")

In [ ]:
# Reading from a file
with open("sample.txt", "r") as f:
  content = f.read()
print("File content:", content)

File content: Hello, this is a sample file.

In [ ]:
n

### Practice Exercise:
1. Write your name into a file called `student.txt`.
2. Read the content back and print it.


### Solutions:
```python
# Writing
with open("student.txt", "w") as f:
f.write("My name is Alice")


# Reading
with open("student.txt", "r") as f:
data = f.read()
print(data)

In [ ]:
# Writing
with open("student.txt", "w") as f:
  f.write("My name is Alice")

In [ ]:
# Writing
with open("student.txt", "r") as f:
  data=f.read()
print(data)

My name is Alice